.first {
  .player-name {
    color: #C36A3F;
    font-family: 'Merriweather', serif;
    font-size: 140px;
  }

  .player-life {
    color: #7EC3DE;
    font-family: 'Vollkorn SC', serif;
    font-size: 250px;
  }
}

.player-name { font-family: 'Merriweather', serif; }
.player-life { font-family: 'Vollkorn SC', serif; }
