<div class="container">
  <div class="row">
    <h3 class="text-center">{{ fetchedGame?.name }}</h3>
    <div class="col-sm" *ngFor="let player of fetchedGame?.players; let first = first; let index = index;">

      <!-- Main Player -->
      <div *ngIf="player.main">
        <div class="col-sm-8 text-center main-player">
          <h3 class="player-name">{{ player.name }}</h3>
          <h3 class="player-life">{{ player.life }}</h3>
          {{ playersWithUpdatedLife[index] }}
          <div class="btn-group" role="group" aria-label="Life Modifier">
            <button type="button" (click)="showCounter(index, 1)" class="btn btn-secondary"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
            <button type="button" (click)="showCounter(index, -1)" class="btn btn-secondary"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <!-- Secondary Player -->
      <div class="secondary-player-container">
          <div *ngIf="!player.main">
            <div class="col-sm-12 text-center">
              <h4 class="player-name">{{ player.name }}</h4>
              <h5 class="player-life">{{ player.life }}</h5>
              {{ playersWithUpdatedLife[index] }}
              <div class="btn-group" role="group" aria-label="Life Modifier">
                <button type="button" (click)="showCounter(index, 1)" class="btn btn-secondary"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                <button type="button" (click)="showCounter(index, -1)" class="btn btn-secondary"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
              </div>
              <button type="button" (click)="makeMainPlayer(index)" class="btn btn-secondary"><i class="fa fa-exchange" aria-hidden="true"></i></button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
